<html>

<head>
    <h1> Question 2 </h1>
    <input id="n1"> </input>
    <input id="n2"> </input>
    <button onclick="f1()"> Multiply </button>
    <button onclick="f2()"> Divide </button>

</head>

<body>
    <script>
        function f1() {
            a = document.getElementById("n1").value;
            b = document.getElementById("n2").value;
            console.log(a * b);
        }

        function f2() {
            a = document.getElementById("n1").value;
            b = document.getElementById("n2").value;
            console.log(a / b);
        }
    </script>
</body>

</html>